<section>
    <h2>Crie sua propria Sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Insira uma Senha</label>

        <input name="password" placeholder="Insira uma senha" type="password" id="room-pass">
      

        <button class=".button" alt="entrar na sala">
        <img src="images/enter-room.svg"> 
        Entrar na sala
    </button>
    </form>
</section>